<div>
    <h1 style="background-color: white;text-align: center;">ACCOUNT SETTINGS</h1>
    <p style="text-align: center;font-size: 250;">Your account settings</p>
</div>
<div>
    <div style="font-size:820px:height:800px;width:950px; background-color: white;">
        <ul>
            <h2 style="text-align: center; font-size:large">Full name:</h2>
            <br><br>
            <h1 style="text-align: center; font-size:large">Username:</h1>
            <br><br>
            <h3 style="text-align: center; font-size:large">Email address:</h3>
            <br><br>
            <p style="text-align: center; font-size:large">Current balance:</p>
        </ul>
    </div>
</div>