<div>
    <h1 style="background-color: white;text-align: center;">ACCOUNT SETTINGS</h1>
    <h2 style="text-align: center;font-size:250;">Your account settings</h2>
</div>
<div>
    <div style="font-size:820px:height:800px;width:950px; background-color: white;">
        <ul>
            <h1 style="text-align: center; font-size:72">Full name:</h1>
            <br><br>
            <h1 style="text-align: center; font-size:72">Username:</h1>
            <br><br>
            <h1 style="text-align: center; font-size:72">Email address:</h1>
            <br><br>
            <h1 style="text-align: center; font-size:72">Current balance:</h1>
        </ul>
    </div>
</div>