<div>
    <h1 style="background-color: white;text-align: center;">ACCOUNT SETTINGS</h1>
    <p style="text-align: center;font-size: 25;">Your account settings</p>
</div>
<div>
    <div style="font-size:82px:height:800px;width: 950px;background-color: white ;">
        <ul>
            <p style="text-align: center; font-size:32"> Username</p>
            <br><br>
            <p style="text-align: center; font-size:32">Email address</p>
            <br><br>
            <p style="text-align: center; font-size:32">Current balance</p>
            <br><br>
            <p style="text-align: center; font-size:32">Active bets</p>
        </ul>
    </div>
</div>
