<script>
        var teams = ["Arizona Cardinals", "Atlanta Falcons", "Baltimore Ravens", "Buffalo Bills", "Carolina Panthers", "Chicago Bears", "Cincinnati Bengals", "Cleveland Browns", "Dallas Cowboys", "Denver Broncos", "Detroit Lions", "Green Bay Packers", "Houston Texans", "Indianapolis Colts", "Jacksonville Jaguars", "Kansas City Chiefs", "Los Angeles Chargers", "Los Angeles Rams", "Miami Dolphins", "Minnesota Vikings", "New England Patriots", "New Orleans Saints", "New York Giants", "New York Jets", "Oakland Raiders", "Philadelphia Eagles", "Pittsburgh Steelers", "San Francisco 49ers", "Seattle Seahawks", "Tampa Bay Buccaneers", "Tennessee Titans", "Washington Redskins"];

</script>
<button onclick="GenerateTeams()">Generate Games</button>

<table style="widows: 100%;">
        <tr>
                <th>Select Away team</th>
                <th>Away Spread</th>
                <th>Away Team</th>
                <th>Away Team Record</th>
                <th>Final Score</th>
                <th>Home Team Record</th>
                <th>Home Team</th>
                <th>Home Spread</th>
                <th>Select Home Team</th>
        </tr>
        <tr>
                <td><input type="checkbox"></td>
                <td>+4.5</td>
                <td>Washington Redskins</td>
                <td>2-8</td>
                <td>3-39</td>
                <td>5-5</td>
                <td>Philadelphia Eagles</td>
                <td>-4.5</td>
                <td><input type="checkbox"></td>
        </tr>
</table>