<!DOCTYPE html>
<html>
    <head>
        <title> About us</title>
    </head>
<body>
    <h1>WELCOME TO OUR SITE!!!</h1>
<div> Thank you for visiting our site, this is a school project done by 5 students at the University of Delaware, in hope to bring online sports betting to Delaware. Bets are made by picking a team who you believe will win, or will cover their respective spread, and if you get all your picks correct, you win money. Its that simple!!!! Let me give a short tutorial.</div>
</body>
</html>