<div>
    <h1 style="text-align: center;">WELCOME TO OUR SITE!!!</h1>
    <p style="font-size: large;">Thank you for visiting our site, this is a school project done by 5 students at the
        University of Delaware, in hope to bring online sports betting to Delaware. Bets are made by picking a team who
        you believe will win, or will cover their respective spread, and if you get all your picks correct, you win
        money. Its that simple!!!! Let me give a short tutorial.</p>
</div>
<div>
    <h1 style="text-align: center;"> Understanding the Spread</h1>
    <p>In the NFL the best team will win the vast majority of the games. Spread betting is the most popular NFL betting
        option because spread betting handicaps the favourite team, which puts both teams on a more even playing field.
        Therefore, betters have more of a 50/50 shot to pick the correct team, even if its the non-favorited team. Below
        is an example</p>
    <div style="height:400px;width: 950px;background-color: white ;">
        <ul>
            <li>Let's say we are going to bet on the Eagles V.S. the Browns game</li>
            <li>In this game specifically, let's say the browns have been terrible for years now, while the Eagles have
                been winning many games consecutively</li>
            <li> Eagles would obviously be the favorites against the browns. So the Eagles will be given a handicap to
                make it more of a even matchup between the two teams.</li>
            <li> Let's say the Eagles are handicapped -7.5 points, this means that the eagles must win by 7.5 points or
                more in order to win the bet. Since, we can't score .5 points in football, the Eagles must win by 8 or
                more.</li>
            <li> If the Eagles are handicapped, -7.5 points against the browns then they browns should be given +7.5
                points to create an even matchup.This also makes it so that you can only pick one or the other. </li>
            <li>In order to calculate we should add the points to the underdogs final score and whoever has more points
                after that, wins the bet<ul>
                    <li>the eagles are -7.5 favorites over the browns</li>
                    <li> So if the Eagles won 34-30, we would add 7.5 to the browns final score, resulting in a score of
                        winning 37.5-34, and in turn whoever bet on the browns wins their bet as well</li>
                    <li>If the Eagles won 28-20, we would add 7.5 to the browns final score again, resulting in the browns losing 27.5-28, so bettors of the Eagles would win.</li>
                    <li>Lastly, if Browns won 18-15, bettors would also win the bet since after we add the spread to the browns score, we get 25.5-15, in favor of the browns. </li>
                </ul>
            </li>
            <li>Hopefully this Explains how spread betting works, its easy to understand with some practice.</li>
        </ul>
    </div>
</div>
<div>
    <p style="text-align: center;font-size: 64px;">Now Get out of here and Go win some Money</p>
</div>