<img style="border-radius:50%;position: relative;top:10px; height:150px;width:150px;"
    src="https://cdn5.vectorstock.com/i/1000x1000/45/79/male-avatar-profile-picture-silhouette-light-vector-4684579.jpg"
    alt="Avatar">

<ul style="position:absolute; top:60px; left:175px;list-style-type: none;">
    <li>UserName:</li>
    <li>Email:</li>
    <li>Favorite Team:</li>
</ul>
<table style="position:absolute;top:60px;left:750px;">
    <Caption>This Users Betting Stats</Caption>
    <tr>
        <th># of picks made</th>
        <th>% of Correct Picks</th>
        <th>Total Earnings</th>
    </tr>
    <tr>
        <td>3</td>
        <td>75.0%</td>
        <td>$1,000</td>
    </tr>
</table>
<h2>Pick History:</h2>