<img style="border-radius:50%;position: relative;top:10px; height:150px;width:150px;"
    src="https://cdn5.vectorstock.com/i/1000x1000/45/79/male-avatar-profile-picture-silhouette-light-vector-4684579.jpg"
    alt="Avatar">

<ul style="position:absolute; top:60px; left:175px;list-style-type: none;">
    <li>UserName: KevyKev</li>
    <li>Email: kcliving@udel.edu</li>
    <li>Favorite Team: Philadelphia Eagles</li>
</ul>
<table style="position:absolute;top:60px;left:750px;">
    <Caption>This Users Betting Stats</Caption>
    <tr>
        <th># of picks made</th>
        <th>% of Correct Picks</th>
        <th>Total Earnings</th>
    </tr>
    <tr>
        <td>6</td>
        <td>100.0%</td>
        <td>$180</td>
    </tr>
</table>
<h2>Pick History:</h2>
<table>
    <tr>
        <th>Picks</th>
        <th>number of Picks</th>
        <th>Multiplier</th>
        <th>Amount Spent</th>
        <th>Amount Won</th>
    </tr>
    <tr> 
        <td>Eagles(-9.5), Giants(+6.5)</td>
        <td>2</td>
        <td>2</td>
        <td>$50</td>
        <td>$100</td>
    </tr>
    <tr>
        <td> Rams(-3.5), Raiders(-10.5), Packers(-6.5),Patriots(2.5)</td>
        <td>4</td>
        <td>4</td>
        <td>$20</td>
        <td>$80</td>
    </tr>
    
</table>
