<div style="position: absolute; top:250px;left:600px;height:200px;width:175px; background-color: yellow;">
<div style="position: relative;top:10px">
        <p style="text-align: center;"> REGISTER</p>
        <div><input type = "text" placeholder = "Enter Name"></div>
        <div ><input type="text" placeholder="Enter Email"></div>
        <div><input type = "text" placeholder = "Enter Password"></div>
        <div><input type = "text" placeholder = "Confirm Password"></div>
        <div><input type = "text" placeholder = "Favorite Team"></div>
        <button type="submit" >Sign-up</button>
</div>
</div>